.ui-mobile #jqm-home {  background: #e5e5e5 url(../images/jqm-sitebg.png) top center repeat-x; }
.ui-mobile #jqm-homeheader { padding: 55px 25px 0; text-align: center }
.ui-mobile #jqm-homeheader h1 { margin: 0 0 10px; }
.ui-mobile #jqm-homeheader p { margin: 0; }
.ui-mobile #jqm-version { text-indent: -99999px; background: url(../images/version.png) top right no-repeat; width: 119px; height: 122px; overflow: hidden; position: absolute; top: 0; right: 0; }
.ui-mobile .jqm-themeswitcher { clear: both; margin: 20px 0 -15px; }

/*
.ui-li-thumb {
    float: auto !important;
    
}

.ui-li-icon

*/

.ui-li-thumb {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    margin-top: 10px;
}

.munin_list .ui-li-has-thumb {
    padding-left: 0px !important; /* Make sure the left padding for the image is only 10 */ 
}

.munin_list .ui-btn-inner {
    padding-left: 10px !important; /* Make sure the left padding for the image is only 10 */ 
}

.munin_list .ui-btn-inner {
    padding-right: 40px !important; /* fixes the right arrow, it should be to large */
}

.img_service { /* The graphs themselves in the list */
 max-width: 100%;
 padding-bottom: 20px;
}

.ui-mobile .overview_child { /* the li containing list/5min */
    height: 30px !important;

    background-image: -moz-linear-gradient(top, #eeeeee, #fdfdfd); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #fdfdfd));   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#fdfdfd')";
  
}

.ui-mobile .overview_child:hover { /* the li containing list/5min */
    background-image: -moz-linear-gradient(top, #fdfdfd, #eeeeee); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fdfdfd),color-stop(1, #eeeeee));   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#eeeeee')";
    
}

.ui-mobile .overview_child .ui-btn-inner {
    padding-top: 6px !important;
    font-weight: normal;
    font-size: 13px;
}

.ui-mobile .overview_child .ui-btn-inner .ui-icon {
    display: none;
}

.ui-mobile .center { margin: 0; text-align: center; }

.ui-mobile #quickjump span {
    cursor: pointer;
    display: block;
    padding: 2px;
}

.ui-mobile #mobile_clickable {
    cursor: pointer;
}

.ui-mobile .show_all_graphs {
    margin-bottom: 20px;
}










/* Top navigation */

.ui-mobile .show_all_graphs .ui-btn-inner {
    padding-top: 6px !important;
    font-weight: normal;
    font-size: 13px;
}

/* footer */
.ui-mobile .footer {
	font-size: 10px;
	text-align: center;
}

.ui-mobile .footer a {
	color: inherit;
	font-weight: inherit;
}

